@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Картинки */
.container-images {
  min-width: 1200px;
  height: 500px;
  display: flex;
  border: 1px solid #d6d6d6;
  padding: 20px;
  
}

.img-box {
  flex-grow: 1;
  background-size: 750px 500px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  filter: grayscale(1);
  opacity: .8;
  position: relative;
  overflow: hidden;
}

.img-box:hover {
  background-size: 900px 600px;
  flex-grow: 5;
  filter: grayscale(0);
  opacity: 1;
}

.bor-lef-right::before,
.bor-top-bot::before,
.bor-lef-right::after,
.bor-top-bot::after {
  content: '';
  position: absolute;
  background-color: #e2e2e2;
  opacity: .3;
  transition: 1s;
}

.bor-lef-right::before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 10px;
}

.bor-top-bot::before {
  width: 100%;
  height: 1px;
  top: 10px;
  left: 0;
}

.bor-lef-right::after {
  width: 1px;
  height: 100%;
  bottom: 0;
  right: 10px;
}

.bor-top-bot::after {
  width: 100%;
  height: 1px;
  bottom: 10px;
  right: 0;
}



.img-box:hover .bor-lef-right::before,
.img-box:hover .bor-top-bot::before,
.img-box:hover .bor-lef-right::after,
.img-box:hover .bor-top-bot::after {
  transition: 1s;
  opacity: .7;
  transition-delay: .3s;
}

.img-box:hover .bor-lef-right::before {
  transform: translateY(-100%);
}
.img-box:hover .bor-lef-right::after {
  transform: translateY(100%);
}
.img-box:hover .bor-top-bot::before {
  transform: translateX(-100%);
}
.img-box:hover .bor-top-bot::after {
  transform: translateX(100%);
}


/* Контент */

.content {
  color: #fff;
  background-color: #000;
  opacity: .7;
  font-size: 14px;
  text-align: justify;
  position: absolute;
  width: 70%;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  transform: translateY(120%);
  transition: .5s;
  border-radius: 3px;
}

.img-box:hover .content {
  transform: translateY(0);
  transition-delay: 1s;
}

.content h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 26px;
  color: #4cdde5;
}

